body{
    margin: auto;
    width: 800px;
    color: silver;
    background-color: #222222;
}

p{
    text-align: justify;
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
}
h1,h2,h3{
    color: coral;
    text-align: center;
}

